html,body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

main{
    padding: 0;
    margin: 0;
}

form{
    margin-top:25%;
}

form button{
    width: 100%;
}

form div img{
    width:  30px;
    height: 30px;
}
